@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
</style>
<head>
    <title>Welcome</title>
</head>
<body>
    <div class="text-center" style="font-family:arial display: block">
        <div style="bg-image: url(Background.png)";></div>
        <div>
            <p style="font-size:40px">Welcome to Ladder Tracker</p>
            <p style="font-size:20px">A simple website that generates badminton ladders for coaches and players</p>
        </div>
    </div>
        
</body>


